<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation> 
    <httpRuntime targetFramework="4.6.1"/>
    
  </system.web>
  <connectionStrings>
    <add name="AWConnString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\Main\Documents\Visual Studio 2015\Projects\GenerateWordDoc\database\AdventureWorks_Data.mdf';Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>  
</configuration>